# Konfigurasi Lingkungan Aplikasi (Abonk CMS)

# Mode Aplikasi: development / production
APP_ENV=development
APP_URL=http://localhost:8080

# Konfigurasi Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=php_abonk_cms
