# ----------------------------------------------------------------------
# Abonk CMS - Apache Rewrite Rules for Clean URLs
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Set the Base Path relative to root if needed
    # RewriteBase /php-abonk/

    # Block direct directory list accesses
    Options -Indexes

    # Allow access to existing files, symlinks, and directories directly (CSS, JS, uploads, etc.)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other requests to index.php front controller
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
